/*
.figtree-<uniquifier> {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.gilda-display-regular {
  font-family: "Gilda Display", serif;
  font-weight: 400;
  font-style: normal;
}
*/

:root {
	--white: #fff;
	--black: #222;
	--gray: #eaeaea;
	--lt-gray: #f8f8f8;
	--navy: #022859; /*all*/
	--yellow: #f2c36b; /*accent only*/
	--gold: #bf8339; /*large only*/
	--tan: #8c7669; /*large only*/
	--maroon: #732020; /*all*/
	--min-large: 1.16625rem; /*18.66px*/
	--large-text: 1.5rem; /*24px*/
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*::before,
*::after,
* {
	box-sizing: border-box;
}

body {
	position: relative;
	padding: 0;
	margin: 0;
	font-family: "Figtree", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 100%;
	line-height: 1.65;
	color: var(--black);
	background-color: var(--white);
}

blockquote {
	margin: 0;
}

cite {
	display: block;
}

figure {
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

svg {
	display: block;
	width: 3rem;
	height: 3rem;
	fill: var(--black);
	stroke: var(--black);
}

button {
	padding: 0;
	border: none;
	background-color: transparent;
}

h1,
h2,
h3,
h4 {
	font-family: "Gilda Display", serif;
	font-weight: 400;
	font-style: normal;
	line-height: 1.25;
}

p {
	margin: 0;
}

a {
	display: inline-block;
	color: var(--maroon);
	text-decoration-color: var(--maroon);
	text-decoration-thickness: 2px;
	text-underline-offset: 5px;
	transition: text-decoration-color 300ms ease-in-out;
}

a:focus,
a:hover,
a:active {
	text-decoration-color: transparent;
}

a + svg {
	display: inline-block;
	vertical-align: middle;
	width: 1.333rem;
	height: 1.333rem;
	stroke: var(--maroon);
	transform: translateX(0);
	transition: transform 300ms ease-in-out;
}

a:focus + svg,
a:hover + svg,
a:active + svg {
	transform: translateX(10px);
}

.anchor_point {
	position: relative;
	top: -5rem;
}

.access-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.secondary_heading {
	font-size: 2rem;
	margin: 1rem 0;
}

.tertiary_heading {
	font-size: 1.5rem;
	margin: 1rem 0 0;
}

.button {
	display: inline-block;
	padding: 0.75rem 1.75rem;
	border: 2px solid var(--white);
	color: var(--white);
	font-size: 1rem;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
	border-radius: 50vh;
	background-color: var(--white);
	color: var(--black);
	text-shadow: none;
	transition: all 300ms ease-in-out;
}

.button:focus,
.button:hover,
.button:active {
	background-color: transparent;
	color: var(--white);
}

.button.navy {
	border-color: var(--navy);
	background-color: var(--navy);
	color: var(--white);
}

.button.navy:focus,
.button.navy:hover,
.button.navy:active {
	background-color: transparent;
	color: var(--navy);
}

.button.maroon {
	border-color: var(--maroon);
	background-color: var(--maroon);
	color: var(--white);
}

.button.maroon:focus,
.button.maroon:hover,
.button.maroon:active {
	background-color: transparent;
	color: var(--maroon);
}

.button.yellow {
	border-color: var(--yellow);
	background-color: var(--yellow);
	color: var(--black);
}

.button.yellow:focus,
.button.yellow:hover,
.button.yellow:active {
	background-color: transparent;
}

.wrap {
	width: 100rem;
	max-width: calc(100% - 4rem);
	margin: 2rem auto;
}

@media (max-width: 960px) {
	.wrap {
		max-width: calc(100% - 2rem);
		margin: 1rem auto;
	}

	.tertiary_heading {
		margin: 0.5rem 0 0;
	}

	.button {
		padding: 0.5rem 1rem;
	}
}

/* Header */
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0;
	background-color: rgba(255, 255, 255, 75%);
	box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 10%);
	transition: top 100ms linear, background-color 300ms ease-in-out;
	z-index: 3;
}

.header:hover {
	background-color: rgba(255, 255, 255, 100%);
}

.scrolled .header {
	top: -28px;
	background-color: rgba(255, 255, 255, 100%);
}

.banner {
	padding: 0.25rem 1rem;
	background-color: var(--navy);
	color: var(--white);
	text-align: center;
}

.banner a {
	color: var(--white);
}

.banner a:focus,
.banner a:hover,
.banner a:active {
	text-decoration-color: var(--white);
}

.primary_logo {
	margin: 0;
}

.primary_logo svg {
	width: 200px;
	max-width: 100%;
	height: auto;
}

.nav_container {
	max-width: 100rem;
	padding: 0.5rem 1rem;
	margin: 0 auto;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

@media (max-width: 960px) {
	.header {
		position: sticky;
	}

	.banner {
		line-height: 1.25;
	}
}

@media (max-width: 455px) {
	.banner {
		height: 48px;
	}

	.scrolled .header {
		top: -48px;
	}
}

/* Navigation */
.menu_button {
	display: none;
}

.main_nav,
.main_social {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.main_nav a {
	text-decoration-color: transparent;
}

.main_nav a:focus,
.main_nav a:hover,
.main_nav a:active {
	text-decoration-color: var(--maroon);
}

@media (max-width: 1024px) {
	.nav_container {
		padding: 0.5rem 0.25rem 0.5rem 0.75rem;
		gap: 0.5rem;
	}

	.menu_button {
		display: block;
		cursor: pointer;
		border-radius: 5px;
		padding: 0;
		margin: 0.5rem 0.5rem 0.5rem auto;
		background-color: transparent;
		transition: background-color 300ms ease-in-out;
	}

	.menu_button:focus,
	.menu_button:hover,
	.menu_button:active {
		background-color: var(--navy);
	}

	.open_button {
		padding: 0.625rem;
		margin: 0 0 0 auto;
	}

	.open_button:focus,
	.open_button:hover,
	.open_button:active {
		background-color: var(--maroon);
	}

	.open_button svg {
		width: 1.75rem;
		height: 1.75rem;
	}

	.menu_button svg {
		stroke: var(--black);
		transition: stroke 300ms ease-in-out;
	}

	.menu_button:focus svg,
	.menu_button:hover svg,
	.menu_button:active svg {
		stroke: var(--white);
	}

	.navigation {
		visibility: hidden;
		position: fixed;
		top: 0;
		left: -300px;
		width: 300px;
		max-width: 100%;
		height: 100dvh;
		transform: translateX(0);
		background-color: var(--white);
		box-shadow: 1px 0 1px 1px rgba(0, 0, 0, 10%);
		transition: all 300ms ease-in-out;
	}

	.main_nav {
		flex-direction: column;
		gap: 0;
		margin: 0.25rem 0 0;
		padding: 0.25rem 0 0;
		border-top: 1px solid var(--gray);
	}

	.main_nav li {
		width: 100%;
		margin: 0 0 0.25rem;
		padding: 0 0 0.25rem;
		border-bottom: 1px solid var(--gray);
		text-align: center;
	}

	.main_nav a {
		display: block;
		width: 100%;
		padding: 1rem;
	}

	.menu_active .open_button {
		visibility: hidden;
		opacity: 0;
	}

	.menu_active .navigation {
		visibility: visible;
		transform: translate(100%);
	}
}

/* Social Nav Icons */
.main_social {
	gap: 0.5rem;
}

.main_social a {
	display: block;
	padding: 0.75rem;
	background-color: transparent;
	border-radius: 5px;
	transition: background-color 300ms ease-in-out;
}

.main_social svg {
	width: 1.5rem;
	height: 1.5rem;
	fill: var(--black);
	stroke: var(--black);
	transition: all 300ms ease-in-out;
}

.main_social a:focus,
.main_social a:hover,
.main_social a:active {
	background-color: var(--maroon);
}

.main_social a:focus svg,
.main_social a:hover svg,
.main_social a:active svg {
	fill: var(--white);
	stroke: var(--white);
}

@media (max-width: 1024px) {
	.main_social {
		gap: 0.25rem;
	}
}

/* Slider */
.hero {
	position: relative;
	margin: 0;
	z-index: 0;
}

ul.hero_slides {
	position: relative;
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 100%;
	height: auto;
	aspect-ratio: 16 / 8;
	z-index: 0;
}

li.slide {
	position: absolute;
	width: 100%;
	height: 100%;
	inset: 0;
	/* opacity: 0; */
	/* pointer-events: none; */
	transition: opacity 300ms ease-in-out;
	z-index: 1;
}

.slide .figure {
	margin: 0;
	width: 100%;
	height: auto;
	aspect-ratio: 16 / 8;
}

.slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.slide_dots {
	position: absolute;
	bottom: 1rem;
	left: 50%;
	transform: translateX(-50%);
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	z-index: 3;
}

.dot button {
	width: 1rem;
	height: 1rem;
	border: 2px solid var(--white);
	border-radius: 50%;
	background-color: transparent;
	transition: background-color 300ms ease-in-out;
}

.dot.active button {
	background-color: var(--white);
}

.hero_text-wrap {
	width: 768px;
	max-width: calc(100% - 2rem);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: var(--white);
	z-index: 2;
}

.hero_text-wrap .secondary_hero {
	margin: 0;
	font-size: clamp(1.5rem, 5vw, 4rem);
	text-shadow: 3px 3px 3px rgba(0, 0, 0, 75%);
}

.hero_text-wrap p {
	margin: clamp(0.5rem, 2.5vw, 2rem) 0;
	font-size: clamp(1rem, 2vw, 1.5rem);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 75%);
}

@media (max-width: 960px) {
	.hero {
		margin: 0 0 1rem;
	}

	ul.hero_slides,
	.slide .figure {
		aspect-ratio: 16 / 9;
	}

	.slide_dots {
		bottom: 0;
	}

	.dot button {
		width: 0.75rem;
		height: 0.75rem;
	}
}

/* Card Section */
.card_section {
	padding: 4rem 0;
	text-align: center;
}

.card_section .secondary_heading {
	margin: 2rem 0;
}

.card_section .wrap {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
}

.card .figure {
	width: 100%;
	height: auto;
	aspect-ratio: 8 / 5;
}

.card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media (max-width: 960px) {
	.card_section .wrap {
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
	}
}

@media (max-width: 600px) {
	.card_section .wrap {
		grid-template-columns: 1fr;
		gap: 1.5rem;
	}
}

/* Four Cards */
.four_cards {
	padding: 4rem 0;
}

.desc_wrap {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: flex-start;
	margin: 0 0 2rem;
}

.desc_wrap .secondary_heading {
	margin: 0 0 1rem;
}

.four_cards .grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 2rem;
}

.grid_item {
	text-align: center;
}

.grid_item .figure {
	width: 100%;
	height: auto;
	aspect-ratio: 1;
}

.grid_item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.grid_item p {
	padding: 0 1rem;
}

.grid_item p:first-of-type {
	margin: 0 0 2rem;
}

@media (max-width: 960px) {
	.four_cards .grid {
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
	}

	.desc_wrap {
		flex-direction: column;
		gap: 1rem;
	}
}

@media (max-width: 600px) {
	.four_cards .grid {
		grid-template-columns: 1fr;
	}
}

/* Full Width */
.full_width {
	position: relative;
	width: 100%;
	height: auto;
	aspect-ratio: 2.67 / 1;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	z-index: 0;
}

.full_width .figure {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.full_width img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.pill_wrap {
	width: 50%;
	padding: 4rem;
	margin: 1rem 0;
	border-top-right-radius: 50vh;
	border-bottom-right-radius: 50vh;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 25%);
	background-color: rgba(255, 255, 255, 50%);
	backdrop-filter: blur(5px);
}

.pill_wrap .secondary_heading {
	font-size: 3rem;
}

.pill_wrap .secondary_heading span {
	display: block;
	margin: 0 0 0.5rem;
	font-family: "Figtree", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 1.75rem;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.pill_wrap p {
	font-size: 1.25rem;
	margin: 0 0 1rem;
}

@media (max-width: 960px) {
	.pill_wrap {
		width: 85%;
		padding: 2rem;
	}

	.pill_wrap .secondary_heading {
		font-size: 1.5rem;
	}

	.pill_wrap .secondary_heading span {
		display: block;
		margin: 0 0 0.5rem;
		font-family: "Figtree", sans-serif;
		font-optical-sizing: auto;
		font-weight: 400;
		font-style: normal;
		font-size: 1.1rem;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
}

@media (max-width: 600px) {
	.pill_wrap {
		width: 95%;
		padding: 1rem;
	}

	.pill_wrap p {
		font-size: 1rem;
	}
}

/* Links Section */
.links {
	padding: 4rem 0;
	text-align: center;
}

.links .secondary_heading {
	margin: 2rem 0;
}

.nav_links {
	width: 65rem;
}

.nav_links a {
	margin: 0.5rem;
}

/* Grid Section - Portrait */
.portrait .grid_item .figure {
	aspect-ratio: 9 / 16;
}

/* Testimonials */
.testimonial {
	padding: 4rem 0;
	background-color: var(--tan);
	color: var(--white);
	font-size: var(--large-text);
}

.testimonial .wrap {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 4rem;
}

.testimonial .stars {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	gap: 0.5rem;
}

.block {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.quote_icon {
	font-size: 8rem;
	line-height: 0;
	margin: 3rem 0 2rem;
}

.stars svg {
	max-width: 100%;
	fill: var(--white);
}

.testimonial img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media (max-width: 960px) {
	.testimonial .wrap {
		grid-template-columns: 1fr;
		gap: 2rem;
	}
}

/* Instagram Grid */
.instagram {
	padding: 2rem 0;
	text-align: center;
}

.instagram .wrap {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 1rem;
}

.instagram .figure {
	width: 100%;
	height: auto;
	aspect-ratio: 1;
}

.instagram img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media (max-width: 960px) {
	.instagram .wrap {
		grid-template-columns: repeat(3, 1fr);
		gap: 0.5rem;
	}
}

/* About Us */
.about_us {
	padding: 2rem 0;
	text-align: center;
	background-color: var(--navy);
	color: var(--white);
}

.about_us svg {
	width: 350px;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	fill: var(--white);
}

.about_us p {
	margin: clamp(1rem, 2.5vw, 2rem) 0;
}

/* Footer */
.footer {
	padding: 0;
}

.footer .wrap {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	gap: 0;
}

.footer p {
	width: 150px;
	max-width: 100%;
}

.footer p:last-of-type {
	text-align: right;
}

@media (max-width: 600px) {
	.footer {
		padding: 1rem 0;
	}

	.footer .wrap {
		text-align: center;
		flex-direction: column;
		gap: 1rem;
	}

	.footer p:last-of-type {
		text-align: center;
	}
}
